backend/GUIPagosPSA/GUIPagos_PSA/Web References/API_Pagos/API_GestionPagos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Listar">
        <s:complexType />
      </s:element>
      <s:element name="ListarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarResult" type="tns:ArrayOfPagos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPagos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Pagos" nillable="true" type="tns:Pagos" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Pagos">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PagosID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CedulaIdentidad" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ServiciosID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaEmision" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaVencimiento" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="MontoTotal" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PagosActivos" nillable="true" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="cod_pago" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Servicios" type="tns:Servicios" />
          <s:element minOccurs="0" maxOccurs="1" name="Usuarios" type="tns:Usuarios" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Servicios">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ServiciosID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MontoServicio" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ServicioActivo" nillable="true" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Pagos" type="tns:ArrayOfPagos" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Usuarios">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CedulaIdentidad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Direccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefono" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UsuarioActivo" nillable="true" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Notificacion" type="tns:ArrayOfNotificacion" />
          <s:element minOccurs="0" maxOccurs="1" name="Pagos" type="tns:ArrayOfPagos" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfNotificacion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Notificacion" nillable="true" type="tns:Notificacion" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Notificacion">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="NotificacionID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CedulaIdentidad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaRegistro" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="EstadoNotificacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ComentariosResolucion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NotificacionActiva" nillable="true" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Usuarios" type="tns:Usuarios" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListarPorEstado">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="estado" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListarPorEstadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarPorEstadoResult" type="tns:ArrayOfPagos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="leerPorId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="leerPorIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="leerPorIdResult" type="tns:Pagos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="leerPorCedula">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cedula" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="leerPorCedulaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="leerPorCedulaResult" type="tns:Pagos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="leerPorServicio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="leerPorServicioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="leerPorServicioResult" type="tns:Pagos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Insertar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pagos" type="tns:Pagos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertarResponse">
        <s:complexType />
      </s:element>
      <s:element name="Actualizar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pagos" type="tns:Pagos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarResponse">
        <s:complexType />
      </s:element>
      <s:element name="Eliminar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListarSoapIn">
    <wsdl:part name="parameters" element="tns:Listar" />
  </wsdl:message>
  <wsdl:message name="ListarSoapOut">
    <wsdl:part name="parameters" element="tns:ListarResponse" />
  </wsdl:message>
  <wsdl:message name="ListarPorEstadoSoapIn">
    <wsdl:part name="parameters" element="tns:ListarPorEstado" />
  </wsdl:message>
  <wsdl:message name="ListarPorEstadoSoapOut">
    <wsdl:part name="parameters" element="tns:ListarPorEstadoResponse" />
  </wsdl:message>
  <wsdl:message name="leerPorIdSoapIn">
    <wsdl:part name="parameters" element="tns:leerPorId" />
  </wsdl:message>
  <wsdl:message name="leerPorIdSoapOut">
    <wsdl:part name="parameters" element="tns:leerPorIdResponse" />
  </wsdl:message>
  <wsdl:message name="leerPorCedulaSoapIn">
    <wsdl:part name="parameters" element="tns:leerPorCedula" />
  </wsdl:message>
  <wsdl:message name="leerPorCedulaSoapOut">
    <wsdl:part name="parameters" element="tns:leerPorCedulaResponse" />
  </wsdl:message>
  <wsdl:message name="leerPorServicioSoapIn">
    <wsdl:part name="parameters" element="tns:leerPorServicio" />
  </wsdl:message>
  <wsdl:message name="leerPorServicioSoapOut">
    <wsdl:part name="parameters" element="tns:leerPorServicioResponse" />
  </wsdl:message>
  <wsdl:message name="InsertarSoapIn">
    <wsdl:part name="parameters" element="tns:Insertar" />
  </wsdl:message>
  <wsdl:message name="InsertarSoapOut">
    <wsdl:part name="parameters" element="tns:InsertarResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarSoapIn">
    <wsdl:part name="parameters" element="tns:Actualizar" />
  </wsdl:message>
  <wsdl:message name="ActualizarSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarSoapIn">
    <wsdl:part name="parameters" element="tns:Eliminar" />
  </wsdl:message>
  <wsdl:message name="EliminarSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarResponse" />
  </wsdl:message>
  <wsdl:portType name="API_GestionPagosSoap">
    <wsdl:operation name="Listar">
      <wsdl:input message="tns:ListarSoapIn" />
      <wsdl:output message="tns:ListarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListarPorEstado">
      <wsdl:input message="tns:ListarPorEstadoSoapIn" />
      <wsdl:output message="tns:ListarPorEstadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="leerPorId">
      <wsdl:input message="tns:leerPorIdSoapIn" />
      <wsdl:output message="tns:leerPorIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="leerPorCedula">
      <wsdl:input message="tns:leerPorCedulaSoapIn" />
      <wsdl:output message="tns:leerPorCedulaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="leerPorServicio">
      <wsdl:input message="tns:leerPorServicioSoapIn" />
      <wsdl:output message="tns:leerPorServicioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Insertar">
      <wsdl:input message="tns:InsertarSoapIn" />
      <wsdl:output message="tns:InsertarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <wsdl:input message="tns:ActualizarSoapIn" />
      <wsdl:output message="tns:ActualizarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <wsdl:input message="tns:EliminarSoapIn" />
      <wsdl:output message="tns:EliminarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="API_GestionPagosSoap" type="tns:API_GestionPagosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Listar">
      <soap:operation soapAction="http://tempuri.org/Listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPorEstado">
      <soap:operation soapAction="http://tempuri.org/ListarPorEstado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="leerPorId">
      <soap:operation soapAction="http://tempuri.org/leerPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="leerPorCedula">
      <soap:operation soapAction="http://tempuri.org/leerPorCedula" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="leerPorServicio">
      <soap:operation soapAction="http://tempuri.org/leerPorServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar">
      <soap:operation soapAction="http://tempuri.org/Insertar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <soap:operation soapAction="http://tempuri.org/Actualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap:operation soapAction="http://tempuri.org/Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="API_GestionPagosSoap12" type="tns:API_GestionPagosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Listar">
      <soap12:operation soapAction="http://tempuri.org/Listar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPorEstado">
      <soap12:operation soapAction="http://tempuri.org/ListarPorEstado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="leerPorId">
      <soap12:operation soapAction="http://tempuri.org/leerPorId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="leerPorCedula">
      <soap12:operation soapAction="http://tempuri.org/leerPorCedula" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="leerPorServicio">
      <soap12:operation soapAction="http://tempuri.org/leerPorServicio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar">
      <soap12:operation soapAction="http://tempuri.org/Insertar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <soap12:operation soapAction="http://tempuri.org/Actualizar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap12:operation soapAction="http://tempuri.org/Eliminar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="API_GestionPagos">
    <wsdl:port name="API_GestionPagosSoap" binding="tns:API_GestionPagosSoap">
      <soap:address location="http://localhost:8080/API_GestionPagos.asmx" />
    </wsdl:port>
    <wsdl:port name="API_GestionPagosSoap12" binding="tns:API_GestionPagosSoap12">
      <soap12:address location="http://localhost:8080/API_GestionPagos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>